<div class="blog_top">
    <div class="area_bar">
        <ul>
            <li>
                <a href="/">블로그 홈</a>
            </li>
            <li>
                <a href="#">이웃 블로그</a>
            </li>
            <% if(Object.keys(payload).length == 0 || payload.mbrNo == '') { %>
            <li class="login_box">
                <a href="#" class="sign_in" id="blogLogin">로그인</a>
            </li>
            <% } else { %>
            <li class="profile_box">
                <div class="name_box">
                    <span class="txt nickname"><%= payload.mbrNknm %></span>▼
                </div>
                <span class="ico_arrow"></span>
                <div class="area_drop_box">
                    <div class="drop_my_content">
                        <div class="drop_img">
                            <a href="#"><img src="https://phinf.pstatic.net/contact/20200706_251/1594042077178qQQwA_JPEG/1534588212758-01-01.jpeg?type=s80"></a>
                        </div>
                        <div class="drop_txt">
                            <p class="txt">
                                <a href="#"><%= payload.mbrNknm %></a>님&nbsp;
                                <i class="fas fa-cogs fa-spin"></i>
                            </p>
                            <a href="#"><%= (payload.mbrEmail == '' ? payload.smbrUid : payload.mbrEmail) %></a>
                        </div>
                    </div>
                    <div class="drop_my_community">
                        <a href="/blog/<%= payload.mbrNo %>" class="my_blog">내 블로그</a>
                        <a href="#" class="logout" id="blogLogout" data-sns="<%= payload.sns %>">로그아웃</a>
                    </div>
                </div>
            </li>
            <% } %>
        </ul>
    </div>
</div>
<div class="blog_top_title">
    <div class="blog_title">
        <h1 class="blog_title_txt"><%= blogInfo.BLG_NM %></h1>
    </div>
    <div class="blog_menu">
        <div class="menu1">
            <ul>
                <% for(let i = 0; i < blogMenuList.length - 1; i++) { %>
                    <li><a href="#"><%= blogMenuList[i].BLG_MNU_NM %></a></li>
                <% } %>
            </ul>
        </div>
        <div class="menu2">
            <ul>
                <li><a href="#">태그</a></li>
                <li><a href="#"><%= blogMenuList[blogMenuList.length - 1].BLG_MNU_NM %></a></li>
            </ul>
        </div>
    </div>
</div>
<script>
window.addEventListener('DOMContentLoaded', () => {
    let loginBtn = document.getElementById('blogLogin');
    if(loginBtn) {
        loginBtn.addEventListener('click', () => {
            location.href="/auth/login?url=/blog/<%= blogInfo.INTG_MBR_NO %>";
        });
    }

    let logoutBtn = document.getElementById('blogLogout');
    if(logoutBtn) {
        logoutBtn.addEventListener('click', () => {
            let path = location.pathname;
            let sns = logoutBtn.getAttribute('data-sns');
            if(sns == 'naver') {
                location.href = "/auth/logout?url=" + path + "&sns=naver";
            } else if(sns == 'kakao') {
                let client_id = '390bd20f4240efdcb3be81e1c556beb8';
                let redirectURI = encodeURI("http://localhost:3000/logout");
                location.href = "https://kauth.kakao.com/oauth/logout?client_id=" + client_id + "&logout_redirect_uri=" + redirectURI + "&state=" + path;
            } else {
                //location.href = "/logout?url=/blog/<%= blogInfo.INTG_MBR_NO %>";
                location.href = "/auth/logout?url=" + path;
            }
            
        });
    }
});
</script>